body{
    font-family:Arial,sans-serif;
    background-color:#f4f4f9;
    color = #333;
    line-height = 1.6;
    margin = 40px;
    text-align: center;
}
ul{
    list-style-type:none;
    padding: 0;
}
li{
    margin-top :20px;
}
a{
    text-decoration:none;
    background-color:#007BFF;
    color:white;
    padding: 10px 20px;
    border-radius:5px;
}
a.hover{
    color = #005xb3
}
