body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
h1, h2 {
    text-align: center;
    color: #005bb3;
}
h4 {
    color: #333;
    border-bottom: 1px solid #f4f4f9;
    padding-bottom: 5px;
}
p {
    text-align: center;
}
.deliverables-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.deliverables-list li {
    margin-top: 20px;
    display: inline-block;
    margin-right: 15px;
}
a {
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
a:hover {
    background-color: #005bb3;
}
.project-plan {
    text-align: left;
    margin-top: 40px;
    border-top: 2px solid #eee;
    padding-top: 20px;
}
.project-plan p, .project-plan ul {
     text-align: left;
}
.project-plan ul {
    list-style-type: disc;
    padding-left: 40px;
}
.project-plan li {
    display: list-item;
    margin-top: 5px;
    margin-right: 0;
}

.project-plan ul ul {
     margin-top: 5px;
     list-style-type: circle;
}
